*{
    margin: 0;
    padding: 0;
}
.one{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.two{
    width : 1224px;
    margin: 0 auto;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #A4B0B0;
    font-size: 14px;
}
ul{
    list-style: none;
}
.three{
    float: left;
    height: 40px;
    line-height: 10px;
}
.four{
    float: right;
    height: 40px;
    line-height: 10px;
}
.three li{
    float: left;
    margin: 17px;
}
.four li{
    float: right;
    margin: 15px;
}